.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 200px;
    width: 150px;
    height: 120px;
}

.loader span{
    width: 33.33%;
    height: 33.33%;
    float: left;
    background-color: #ccc;
    transform-style: preserve-3d;
    animation: loading 2500ms linear infinite;
}

.loader span:nth-child(1){
    background-color: #544349;
}

@keyframes loading{
    0% {
        transform: rotateY(0deg);
    }

    10%{
        transform: rotateY(180deg);
    }
}